html {
    height: 100%;
}
body {
    user-select: none;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding:0;
    font: 15px Arial, Helvetica, sans-serif; 
    color: #50add4;
}
table {
    border-spacing: 0;
}
td {
    padding: 0;
}
h1 {
    font-size: 2rem;
    margin-bottom: 0.4em;
    text-align: center;
}
h2{
    font-size: 1.1rem;
    font-weight: normal;
    margin:0;
    text-align: center;
}
p {
    margin: 0;
    line-height: 1.4em;
    font-size: 15px;
}
label {
    font-weight: bolder;
    margin-right: 1rem;
}
input[type="checkbox" i] {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #50add4;
    margin: 0 2px;
	padding: 7px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
    top: 2px;
    cursor: pointer;
}
input[type="checkbox" i]:active, input[type="checkbox" i]:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

input[type="checkbox" i]:checked {
	background-color: #50add4;
	border: 1px solid #50add4;
}
input[type="checkbox" i]:checked:after {
	content: '\2714';
	font-size: 15px;
	position: absolute;
	top: -3px;
	left: 1px;
	color: white;
}

  








.form-td {
    width: 100%;
    padding-top: 2rem !important;
    position: relative;
}

.form-table {
    width: 100%;
}

.form-table>tbody>tr>td {
    padding: 0.1rem 0;
}



.year {
    padding: 0.3rem 0.4rem !important;
}


.graph-td {
    background-color: white;
    border-radius: 2rem;
    height: 30rem;
    position: relative;
}
.info-td {
    background-color: #50add4;
    border-radius: 1rem;
    color: white;
    padding: 0.8rem;
}
.info-td h1 {
    margin: 0;
    font-size: 2.5rem;
}
.info-td table table h2 {
    font-size: 1rem;
}

.display-none {
    display: none;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

svg .rect {
    fill: gold;
    stroke: steelblue;
    stroke-width: 5px;
}

.grid .tick {
    opacity: 0.2;
}
.x-grid .tick:nth-child(even) {
    opacity: 0.1;
}
.y-grid .tick:nth-child(even) {
    opacity: 0.1;
}

.tick text  {
    opacity: 0.6;
}

.graph-axis-label  {
    opacity: 0.6;
}

.graph-title {
    opacity: 0.8;
}


.graph-hover {
    padding: 0.2rem;
    position: absolute;
    color: #0008;
    font-size: 14px;
    display: none;
    transition: top 0.1s linear,
                left 0.1s linear,
                right 0.1s linear;
    pointer-events: none;
    opacity: 0.98;
}
.graph-hover-table {
    border-spacing: 0.2rem;
}
.graph-hover-table td:last-child {
    padding: 0 0.3rem;
}
.graph-hover-div {
    background-color: white;
    border-radius: 0.6rem;
    box-shadow: 0 0 6px #0005;
    transform: translateY(-50%) translateY(-4px);
}
.graph-hover-dot {
    width:1rem;
    height:1rem;
    border-radius:1rem;
}

.vl-select-head {
    color: #50add4;
    border-color: #50add4 !important;
    border-radius: 4px !important;
    font-weight: bold;
}
.vl-select-body-parent {
    border-radius: 4px !important;
    color: #50add4;
    border-color: #50add4 !important;
    font-size: 0.9rem !important;
}
.vl-select-body td:hover {
    background-color: #50add4 !important;
}

.description {
    padding-top: 0.2rem !important;
    font-size: 12px;
}












#vertical-counts-table>tbody>tr>td {
    padding: 0.8rem 0;
    border-top: 2px dotted white;
}
#vertical-counts-table>tbody>tr:nth-child(-n+2)>td {
    border: none;
}

#horizontal-counts-table>tbody>tr>td {
    border-left: 2px dotted white;
}
#horizontal-counts-table>tbody>tr>td:first-child {
    border: none;
}


#footer {
    position:relative;
    background-color: #222;
    height: 2rem;
}
#footer img {
    height: 2rem;
    width: 2rem;
    padding: 0rem 0.5rem;
}
#footer .attribution {
    color: #AAA;
    position: absolute;
    left: 3rem;
    top: 0.5rem;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}



#menu-td {
    width: 25rem;
}

#page-td {
    background-color: #F0F0F0;
}



#help-popup {
    display: none;
}


#menu-table {
    width: 100%;
    height: 100%;
}


#switch-td {
    width: 100%;
    height: 1rem;
    position: relative;
    background-color: #50add4;
}/*
#switch-td div {
    width: 50%;
    height: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 1rem 0 2.7rem 0;
    font-size: 1.5rem;
    background-color: #c4deeb;
    transition: background-color 0.1s ease-in-out;
}
#switch-td div.active {
    background-color: #50add4;
}
#switch-growth-div {
    left: 0;
}
div#switch-prediction-div { /* Remove these when predictions are online 
    cursor: default;
    right: 0;
}*/



#options-td {
    height: 100%;
    vertical-align: top;
    padding-top: 0.8rem;
}
#options-table {
    width: 100%;
}
#options-table>tbody>tr>td {
    padding: 0 1rem;
}

#page-div {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2rem;
    box-sizing: border-box;
}
#page-table {
    width: 100%;
    height: 100%;
    border-spacing: 2rem;
}

#prediction-fade-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    background: rgb(240,240,240);
    background: linear-gradient(180deg, rgba(240,240,240,1) 0%, rgba(240,240,240,0) 100%);
}

#prediction-fade-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    background: rgb(240,240,240);
    background: linear-gradient(0deg, rgba(240,240,240,1) 0%, rgba(240,240,240,0) 100%);
}


.graph {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}



.compare-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    border-radius: 1rem;
    padding: 0.2rem;
    border: 1px solid;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    opacity: 0.4;
}
.compare-button:hover {
    background-color: #50add4;
    color: white;
}
.compare-button.active {
    opacity: 1;
    background-color: #50add4;
    color: white;
}

#growth-graph-backdrop {
    position: absolute;
    top: calc(50% - 0.5em);
    left: 0%;
    width: 100%;
    text-align: center;
    color: #50add440;
    font-size: 5rem;
    font-weight: bold;
    display: none;
}


#percentile-switch {
    position: absolute;
    top: -3rem;
    left: -2rem;
    padding: 0.2rem;
    height: 1.6rem;
    background-color: white;
    border-radius: 2rem;
    width: 9.2rem;
    cursor: pointer;
}
#percentile-switch .switch {
    width: 1.6rem;
    height: 1.6rem;
    background-color: #50add4;
    border-radius: 2rem;
    display: inline-block;
    opacity: 0.6;
}
#percentile-switch .label {
    position: absolute;
    top: 0.45rem;
    left: 2.2rem;
    width: max-content;
    opacity: 0.6;
}
#percentile-switch:hover .switch {
    opacity: 1;
}
#percentile-switch:hover .label {
    opacity: 1;
}
#percentile-switch.active {
    width: 9.6rem;
    background-color: #50add4;
}
#percentile-switch.active .switch {
    opacity: 1;
    background-color: white;
}
#percentile-switch.active .label {
    opacity: 1;
    font-weight: bold;
    color: white;
}
#percentile-switch.active:hover .switch {
    opacity: 0.8;
}
#percentile-switch.active:hover .label {
    opacity: 0.8;
}


div#prediction-warning {
    position: absolute;
    top: 150%;
    right: -10%;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #c4deeb;
    color: white;
    height: auto;
    opacity: 0;
    z-index: 5;
    width: 70%;
    font-size: 1.2rem;
    transition: opacity 0.2s ease-in-out;
    cursor: default;
    box-shadow: 0 0 0.2rem #0002;
    pointer-events: none;
}
div#prediction-warning .x {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 1rem;
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
    padding: 0;
    opacity: 1;
    font-weight: 100;
    font-size: 1rem;
    color: #50add4;
}
div#prediction-warning .x:hover {
    color: #24789c;
}
